$bg-color: rgba(189, 189, 189, 0.25);
$card-bg-c: #FFFFFF;
$card-br-c: rgba(189, 189, 189, 0.25);
$space-from-sidebar: 0 0 0 20px;
$s-btw-c-n-h: 10px 0 0 0;
$s-btw-divs: 24px 0 0;
// COLORS
$pri-c: #00ADEE;
$sec-c: #1C75BB;
$text-gray: #BDBDBD;
$green: #17BF5F;
$red: #FB5D5D;