        @import "./variables";
        * {
            box-sizing: border-box;
            font-family: sans-serif;
            -webkit-tap-highlight-color: transparent;
            table {
                border-style: hidden;
            }
        }
        
        body,
        p,
        ul,
        li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            padding: 0;
        }
        
        section.avatar-cont {
            width: 24px;
            background: #1B75bb;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            img {
                height: 20px;
                width: 20px;
            }
        }
        
        button {
            outline: none;
        }
        
        ul {
            list-style: none;
        }
        
        span.credit {
            font-size: 18px;
            color: $green;
            justify-self: center;
            align-self: center;
        }
        
        span.debit {
            @extend span.credit;
            color: $red;
        }
        
        h4 {
            font-weight: 100;
            font-size: 9px;
            align-self: center;
            padding: 0 0 0 10px;
            letter-spacing: 1px;
        }
        
        span.view {
            color: #1B75BB;
            font-size: 10px;
            line-height: 16px;
            cursor: pointer;
        }
        
        p.gray {
            font-size: 10px;
            color: $text-gray;
            line-height: 16px;
        }
        
        div.for-mobile {
            background: $card-bg-c;
            border: 1px solid rgba(189, 189, 189, 0.25);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
            border-radius: 10px;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            padding: 20px 0;
            margin: 10px 0;
            display: none;
            @media screen and (max-width: 767px) {
                display: flex;
            }
            section {
                display: flex;
                flex-direction: column;
                height: 50px;
                span {
                    font-size: 15px;
                }
                p:not(.gray) {
                    color: $pri-c
                }
            }
            .right-section {
                border-left: 1px solid rgba(189, 189, 189, 0.25);
                padding: 0 0 0 20px;
            }
        }
        
        section.on-mobile {
            padding: 0 0 0 5px;
        }
        
        span.money {
            color: $pri-c
        }
        
        span.remind {
            font-size: 8px;
            text-align: center;
            border-radius: 5px;
            padding: 12px 15px;
            color: #fff;
            background: $sec-c;
            cursor: pointer;
            justify-self: center;
            align-self: center;
        }
        
        .top-container {
            display: grid;
            grid-template-columns: 265px 1fr;
            height: 100vh;
            overflow: hidden;
            @media screen and (max-width: 767px) {
                height: 100%;
                overflow: hidden scroll;
            }
            @media screen and (max-width: 1024px) {
                grid-template-columns: 1fr;
            }
            .sidebar {
                background: linear-gradient(to bottom, #1B75BB 0%, $pri-c 100%);
                section.sidebar-top {
                    max-height: 70px;
                    cursor: pointer;
                    background: white;
                    padding: 25px 0;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    @media screen and (max-width: 767px) {
                        max-height: 100%;
                        padding: 10px 10px;
                        justify-content: space-between
                    }
                    @media screen and (min-width: 768px) and (max-width: 1024px) {
                        padding: 25px;
                        justify-content: space-between
                    }
                    section {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        @media screen and (min-width: 1025px) {
                            display: none;
                        }
                    }
                    section.left {
                        display: flex;
                        align-items: center;
                        span {
                            margin: 0 5px 0
                        }
                    }
                    span {
                        font-size: 16px;
                        font-weight: 400
                    }
                }
                section.sidebar-bottom {
                    &.display {
                        @media screen and (min-width: 1025px) {
                            display: none;
                        }
                        display: flex;
                        position: absolute;
                        top: 0;
                        z-index: 10000;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 100vh;
                        overflow: hidden scroll;
                        background: linear-gradient(to bottom, #1B75BB 0%, $pri-c 100%);
                        .with-modal {
                            height: 50px;
                            margin: 10px 0;
                            display: flex;
                            padding: 0 15px;
                            align-items: center;
                            justify-content: space-between;
                            section.profile {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 190px;
                                section {
                                    span.name {
                                        font-size: 18px;
                                        font-weight: 700;
                                        color: #fff;
                                        padding: 0;
                                    }
                                    p {
                                        font-size: 12px;
                                        font-weight: 100;
                                        font-style: italic;
                                        letter-spacing: 0.5px;
                                        color: #fff
                                    }
                                }
                                .avatar-cont {
                                    @extend section.avatar-cont;
                                    background: $card-bg-c;
                                    height: 41px;
                                    width: 41px;
                                    img {
                                        width: 35px;
                                        height: 35px;
                                    }
                                }
                            }
                        }
                        ul {
                            display: flex;
                            height: 460px;
                            overflow: hidden scroll;
                            justify-content: space-around;
                            align-items: flex-start;
                            padding: 0 0 0 20px;
                            @media (width: 320px) and (height: 568px) {
                                height: 380px
                            }
                            @media screen and (min-width: 768px) and (max-width: 1024px) {
                                height: fit-content;
                                width: 100%;
                                margin: 0;
                            }
                            section {
                                &:nth-child(1) {
                                    margin: 230px 0 0;
                                    @media screen and (min-width: 768px) and (max-width: 1024px) {
                                        margin: 0
                                    }
                                }
                                padding: 20px 0;
                                display: grid;
                                grid-template-columns: 24px 1fr 100px;
                                grid-gap: 20px;
                                width: 100%;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                    @media screen and (max-width: 1024px) {
                        display: none;
                    }
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: left;
                    .with-modal {
                        display: none;
                    }
                    ul {
                        height: 60%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        padding: 30px 0 30px 20px;
                        width: 250px;
                        border-bottom: 1px solid rgba(#fff, 0.2);
                        margin: 0 auto;
                        @media screen and (max-width: 767px) {
                            width: 100%;
                            margin: 0;
                        }
                        section {
                            display: grid;
                            grid-template-columns: 24px 1fr 100px;
                            grid-gap: 10px;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            @media screen and (max-width: 767px) {
                                display: flex;
                                flex-direction: column;
                            }
                            svg {
                                justify-self: center;
                            }
                            li {
                                color: white;
                            }
                        }
                    }
                    span {
                        color: white;
                        cursor: pointer;
                        padding: 25px;
                    }
                    .last-section {
                        padding: 0 25px;
                        margin: 60px 0 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        @media screen and (max-width: 767px) {
                            margin: 0
                        }
                        @media screen and (min-width: 768px) and (max-width: 1024px) {
                            margin: 0
                        }
                        section.help {
                            background: $card-bg-c;
                            padding: 10px;
                            display: flex;
                            border-radius: 24px;
                            width: 80px;
                            align-items: center;
                            justify-content: space-around;
                            span {
                                color: $sec-c;
                                padding: 0;
                            }
                        }
                        section.conditions {
                            display: flex;
                            width: 85px;
                            justify-content: space-between;
                            align-items: center;
                            span {
                                padding: 0;
                            }
                        }
                    }
                }
            }
            .dashboard {
                height: 100vh;
                overflow: hidden scroll;
                background: $bg-color;
                padding: 24px 0;
                @media screen and (max-width: 767px) {
                    height: 100%;
                }
                section.puzzle {
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                    cursor: pointer;
                    position: absolute;
                    z-index: 100;
                    bottom: 0;
                    right: 10px;
                }
                .div1 {
                    position: relative;
                    padding: $space-from-sidebar;
                    display: grid;
                    grid-gap: 40px;
                    grid-template-columns: minmax(400px, 1fr) 260px;
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                    .dash-dropdown {
                        display: none;
                        &.display {
                            @media screen and (max-width: 767px) {
                                display: none;
                            }
                            position: absolute;
                            display: block;
                            right: 35px;
                            top: 40px;
                            width: 170px;
                            background: $card-bg-c;
                            border: 1px solid $card-br-c;
                            padding: 0 20px;
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
                            border-radius: 5px;
                            @media screen and (min-width: 768px) and (max-width: 1024px) {
                                top: 130px;
                            }
                            .setting {
                                display: flex;
                                cursor: pointer;
                                justify-content: space-around;
                                padding: 0 0 15px;
                                align-items: center;
                                margin: 10px 0;
                                border-bottom: 1px solid rgba(189, 189, 189, 0.25);
                                svg {
                                    margin: 0
                                }
                            }
                            .logout {
                                @extend .setting;
                                border: none;
                                padding: 15px 0;
                                background: $sec-c;
                                justify-content: center;
                                border-radius: 5px;
                                color: #fff;
                                svg {
                                    margin: 0 10px 0 0;
                                }
                            }
                        }
                    }
                    section {
                        position: relative;
                        input {
                            @media screen and (max-width: 767px) {
                                display: none;
                            }
                            width: 100%;
                            color: black;
                            font-weight: 400;
                            background: $card-bg-c;
                            border: 1px solid $card-br-c;
                            padding: 8px 5px 8px 35px;
                            box-shadow: 0 2px 9px rgba(196, 196, 196, 0.11);
                        }
                        svg {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            left: 10px;
                            @media screen and (max-width: 767px) {
                                display: none;
                            }
                        }
                    }
                    section.right-section {
                        @media screen and (max-width: 767px) {
                            display: none;
                        }
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        .first-svg,
                        .profile,
                        .last-svg {
                            cursor: pointer;
                        }
                        section.profile {
                            display: flex;
                            margin: 0 0 0 35px;
                            flex-direction: column;
                            span {
                                font-size: 12px;
                                text-align: right;
                            }
                            p {
                                font-style: italic;
                            }
                        }
                        section {
                            display: flex;
                            cursor: pointer;
                            section.last-svg {
                                padding: 0 50px 0 0;
                            }
                        }
                    }
                }
                .div2 {
                    margin: $s-btw-divs;
                    span {
                        padding: $space-from-sidebar;
                        display: flex;
                        @media screen and (max-width: 767px) {
                            padding: 0 0 0 15px;
                        }
                    }
                    .div2-cards-container {
                        display: flex;
                        justify-content: space-around;
                        margin: $s-btw-c-n-h;
                        padding: 0 10px 0;
                        max-height: 98px;
                        @media screen and (max-width: 767px) {
                            flex-direction: column;
                            max-height: 100%;
                        }
                        .div2-sub-cont {
                            width: calc((100% - 80px) / 3);
                            display: grid;
                            grid-template-columns: 1fr 76px;
                            grid-gap: 20px;
                            @media screen and (max-width: 1200px) {
                                grid-gap: 10px
                            }
                            background: $card-bg-c;
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
                            padding: 10px;
                            border-radius: 5px;
                            justify-content: center;
                            align-items: center;
                            @media screen and (max-width: 767px) {
                                width: 100%;
                                margin: 10px 0;
                                border-radius: 10px;
                            }
                            section.invoiced-svg {
                                background: $sec-c;
                                width: 76px;
                                height: 76px;
                                padding: 10px 30px;
                                border-radius: 5px;
                                align-items: center;
                            }
                            section.received-svg {
                                @extend section.invoiced-svg;
                                background: #17BF5F
                            }
                            section {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                align-items: center;
                                height: 100%;
                                align-items: flex-start;
                                padding: $space-from-sidebar;
                                @media screen and (max-width: 1200px) {
                                    padding: 0 0 0 5px;
                                }
                                span.money {
                                    padding: 0;
                                    font-size: 2rem;
                                    color: $sec-c;
                                    @media screen and (max-width: 1200px) {
                                        font-size: 1.2rem
                                    }
                                    span {
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .div3 {
                    @extend .div2;
                    display: flex;
                    justify-content: space-around;
                    padding: 0 10px;
                    @media screen and (max-width: 767px) {
                        flex-direction: column;
                    }
                    .div3-cards-container1 {
                        width: calc(((100% - 40px) / 3) * 2);
                        @media screen and (max-width: 767px) {
                            width: 100%;
                        }
                        div {
                            display: flex;
                            justify-content: space-between;
                            section>span {
                                padding: 0;
                            }
                        }
                        .div3-sub-cont {
                            max-height: 359px;
                            overflow: scroll;
                            margin: 10px 0 0 0;
                            background: $card-bg-c;
                            padding: 20px;
                            border-radius: 5px;
                            width: 100%;
                            border: 1px solid rgba(189, 189, 189, 0.25);
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
                        }
                    }
                    .div3-cards-container2 {
                        width: calc((100% - 80px) / 3);
                        @media screen and (max-width: 767px) {
                            width: 100%;
                            margin: 40px 0 0;
                        }
                        @extend .div3-cards-container1;
                        section>span {
                            padding: 0;
                        }
                        div {
                            max-height: 369px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            .div3-sub-cont {
                                background: $card-bg-c;
                                padding: 20px;
                                border-radius: 5px;
                                width: 100%;
                                border: 1px solid rgba(189, 189, 189, 0.25);
                                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
                                display: flex;
                                justify-content: space-between;
                                @media screen and (max-width: 767px) {
                                    border-radius: 10px;
                                }
                                section {
                                    span.num-stat {
                                        font-size: 24px;
                                        color: #3B3B3B;
                                        line-height: 39px;
                                    }
                                    line-height: 16px;
                                }
                            }
                        }
                    }
                }
            }
            .div4 {
                padding: 0 25px;
                margin: $s-btw-divs;
                @media screen and (max-width: 767px) {
                    padding: 0 10px;
                }
                section {
                    display: flex;
                }
                section.sec-cont {
                    display: flex;
                    flex-direction: column;
                    span {
                        font-size: 3rem;
                        font-weight: 900;
                    }
                    p {
                        font-size: 10px;
                        color: $text-gray;
                        line-height: 16px;
                    }
                }
                div.div4-sub-cont {
                    display: grid;
                    grid-template-columns: 30% 67%;
                    grid-gap: 3%;
                    justify-content: space-around;
                    align-items: center;
                    margin: $s-btw-c-n-h;
                    @media screen and (max-width: 767px) {
                        display: flex;
                        flex-direction: column;
                    }
                    div.left-div {
                        background: $card-bg-c;
                        border: 1px solid rgba(189, 189, 189, 0.25);
                        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
                        width: 100%;
                        padding: 50px;
                        height: 100%;
                        border-radius: 5px;
                        @media screen and (max-width: 767px) {
                            display: flex;
                            justify-content: space-between;
                            padding: 30px 10px;
                            border-radius: 10px;
                        }
                        @media screen and (min-width: 768px) and (max-width: 1024px) {
                            padding: 20px 10px;
                        }
                        div.top-div {
                            display: flex;
                            justify-content: space-between;
                            @media screen and (max-width: 767px) {
                                margin: 0 3px 0 0;
                                section.sec-cont {
                                    span {
                                        font-size: 2rem;
                                    }
                                }
                                section {
                                    svg {
                                        width: 65px;
                                        height: 65px
                                    }
                                }
                            }
                        }
                        div.bottom-div {
                            display: flex;
                            justify-content: space-between;
                            @media screen and (max-width: 767px) {
                                margin: 0 0 0 3px;
                                section.sec-cont {
                                    span {
                                        font-size: 2rem;
                                    }
                                }
                                section {
                                    svg {
                                        width: 65px;
                                        height: 65px
                                    }
                                }
                            }
                        }
                    }
                    div.right-div {
                        margin: 0;
                        max-height: 260px;
                        padding: 0;
                        @media screen and (max-width: 767px) {
                            margin: $s-btw-c-n-h;
                            width: 100%;
                            max-height: 100%;
                        }
                        .for-mobile {
                            @extend div.for-mobile
                        }
                        div {
                            @media screen and (max-width: 767px) {
                                display: none;
                            }
                            margin: 0;
                        }
                    }
                }
            }
            .div5 {
                margin: $s-btw-divs;
                padding: 0 25px;
                display: grid;
                max-height: 500px;
                grid-template-columns: 44% 53%;
                grid-gap: 3%;
                @media screen and (max-width: 767px) {
                    display: flex;
                    flex-direction: column;
                    max-height: 100%;
                    padding: 0 10px;
                }
                div.div5-left-cont {
                    padding: 0;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    @media screen and (max-width: 767px) {
                        order: 2
                    }
                    div.announcements,
                    div.debtors {
                        padding: 0;
                        max-height: 230px;
                        width: 100%;
                        margin: $s-btw-divs;
                        @media screen and (max-width: 767px) {
                            max-height: 100%;
                            overflow: visible;
                        }
                        section.svg-container {
                            display: flex;
                            align-items: center;
                        }
                        .for-mobile {
                            @extend div.for-mobile;
                            @extend .money;
                            @extend .remind;
                            .right-section {
                                align-items: flex-end;
                                .send {
                                    font-size: 10px;
                                    font-weight: 900;
                                    color: $pri-c
                                }
                            }
                        }
                        div.top-div {
                            overflow: hidden scroll;
                            height: 200px;
                            margin: $s-btw-c-n-h;
                            background: $card-bg-c;
                            border: 1px solid rgba(189, 189, 189, 0.25);
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
                            border-radius: 5px;
                            padding: 30px;
                            @media screen and (max-width: 767px) {
                                border-radius: 10px
                            }
                            section>p {
                                overflow-wrap: break-word;
                            }
                        }
                    }
                    div.announcements {
                        @media screen and (max-width: 767px) {
                            margin: $s-btw-c-n-h;
                        }
                        div.announce-div {
                            display: block;
                            height: 210px;
                            padding: 20px 40px;
                            @media screen and (max-width: 767px) {
                                height: 390px;
                                overflow: hidden scroll;
                                background: none;
                                border: none;
                                padding: 0 0 20px
                            }
                            section {
                                cursor: pointer;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                border-bottom: 1px solid rgba(189, 189, 189, 0.25);
                                &:last-child {
                                    border: none;
                                }
                                @media screen and (max-width: 767px) {
                                    margin: $s-btw-c-n-h;
                                    background: $card-bg-c;
                                    border: 1px solid rgba(189, 189, 189, 0.25);
                                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
                                    border-radius: 10px;
                                    padding: 5px 20px;
                                }
                                span {
                                    font-size: 18px;
                                    padding: 5px 0;
                                }
                                p {
                                    padding: 0 0 5px;
                                }
                            }
                        }
                    }
                }
                div.div5-right-cont {
                    padding: 0;
                    @media screen and (max-width: 767px) {
                        max-height: 100%;
                        overflow: visible;
                        margin: 0
                    }
                    .for-mobile {
                        @extend div.for-mobile;
                        section {
                            &.right-section {
                                align-items: flex-end;
                            }
                            p.black {
                                color: #3B3B3B;
                                font-size: 11px;
                            }
                        }
                    }
                    div.div5-right-sub-cont {
                        section {
                            display: flex;
                        }
                        div.top-div {
                            overflow: hidden scroll;
                            max-height: 450px;
                            @media screen and (max-width: 767px) {
                                max-height: 100%
                            }
                            margin: $s-btw-c-n-h;
                            background: $card-bg-c;
                            border: 1px solid rgba(189, 189, 189, 0.25);
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
                            border-radius: 5px;
                            padding: 50px;
                        }
                    }
                }
            }
            .many {
                padding: 0 25px;
                max-height: 478px;
                margin: 30px 0 0;
                overflow: hidden;
                section {
                    display: flex;
                    justify-content: space-between;
                }
                div {
                    background: $card-bg-c;
                    border: 1px solid rgba(189, 189, 189, 0.25);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
                    border-radius: 5px;
                    padding: 40px;
                    margin: $s-btw-c-n-h;
                    max-height: 460px;
                    overflow: hidden scroll;
                    @media screen and (max-width: 767px) {
                        display: none;
                        max-height: 100%;
                    }
                    @media screen and (max-width: 1200px) {
                        padding: 20px 12px;
                    }
                    th {
                        padding: 10px;
                    }
                    td {
                        padding: 15px;
                    }
                    table {
                        table-layout: fixed;
                        width: 100%;
                        border-collapse: collapse;
                        thead {
                            tr {
                                position: relative;
                                th.col1 {
                                    width: 21%;
                                }
                                th.col2 {
                                    width: 18%;
                                }
                                th.col3 {
                                    width: 16%;
                                }
                                th.col4 {
                                    width: 18%;
                                }
                                th.col5 {
                                    width: 16%;
                                }
                                th.col6 {
                                    width: 10%;
                                }
                                th {
                                    font-size: 10px;
                                    line-height: 16px;
                                    letter-spacing: 1.86px;
                                    font-weight: 100;
                                    text-align: left;
                                    padding: 0 0 20px;
                                    border-bottom: 1px solid rgba(189, 189, 189, 0.25);
                                    @media screen and (max-width: 1200px) {
                                        font-size: 8px;
                                    }
                                    &.remind-all>span {
                                        font-size: 8px;
                                        text-align: center;
                                        padding: 12px 15px;
                                        color: #fff;
                                        background: $sec-c;
                                        cursor: pointer;
                                        justify-self: center;
                                        border-radius: 5px;
                                        align-self: center;
                                        text-align: center;
                                        @media screen and (max-width: 1200px) {
                                            font-size: 7px;
                                            padding: 12px 10px
                                        }
                                    }
                                }
                            }
                        }
                        tbody.scrollable {
                            max-height: 320px;
                            width: 100%;
                            overflow: hidden scroll;
                            tr {
                                position: relative;
                                td {
                                    text-align: left;
                                    padding: 30px 0;
                                    border-bottom: 1px solid rgba(189, 189, 189, 0.25);
                                    @media screen and (max-width: 1200px) {
                                        font-size: 10px;
                                    }
                                    section.transactions {
                                        display: flex;
                                        flex-direction: column;
                                    }
                                    section.transacted-fund {
                                        @extend section.transactions;
                                        align-items: center;
                                        span.credit {
                                            @extend span.credit
                                        }
                                        span.debit {
                                            @extend span.debit
                                        }
                                        p {
                                            font-size: 10px;
                                            padding: 5px 0 0;
                                        }
                                    }
                                    span.money {
                                        color: $pri-c
                                    }
                                    span.remind {
                                        font-size: 8px;
                                        text-align: center;
                                        border-radius: 5px;
                                        padding: 12px 15px;
                                        color: #fff;
                                        background: $sec-c;
                                        cursor: pointer;
                                        justify-self: center;
                                        align-self: center;
                                        @media screen and (max-width: 1200px) {
                                            font-size: 7px;
                                            padding: 12px 10px
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .div6 {
                @media screen and (max-width: 767px) {
                    padding: 0 10px;
                    max-height: 100%;
                }
                .for-mobile {
                    @extend div.for-mobile;
                }
            }
            div.dropdown {
                display: none;
                &.dropdown.display {
                    display: flex;
                    flex-direction: column;
                    z-index: 100000;
                    width: 256px;
                    top: 20px;
                    left: 4px;
                    position: absolute;
                    background: $card-bg-c;
                    border: 1px solid rgba(189, 189, 189, 0.25);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
                    padding: 15px;
                    border-radius: 8px;
                    @media screen and (max-width: 767px) {
                        width: 100%;
                        top: 0;
                        left: 0;
                        border-radius: 4px;
                    }
                    .top-section {
                        display: flex;
                        padding: 20px 0;
                        justify-content: space-between;
                        align-items: center;
                        section {
                            display: flex;
                            align-items: center;
                            img {
                                width: 35px;
                                height: 35px;
                                margin: 0 10px 0 0;
                            }
                            span {
                                font-size: 10px;
                                line-height: 16px;
                            }
                        }
                        svg {
                            width: 13px;
                            height: 13px;
                            margin: 0 0 0 5px;
                            cursor: pointer
                        }
                    }
                    .mid-section {
                        border-bottom: 1px solid rgba(189, 189, 189, 0.25);
                        padding: 0 0 30px;
                        ul {
                            height: 100%;
                            li {
                                padding: 20px 0;
                                cursor: pointer;
                                &:active {
                                    background: red;
                                }
                            }
                        }
                        p {
                            color: #1c75bb;
                            margin: 10px 0;
                            cursor: pointer;
                        }
                    }
                    .last-section {
                        p {
                            font-size: 10px;
                            padding: 10px 0;
                            font-weight: 300;
                            color: #3B3B3B;
                            span {
                                color: black;
                                font-weight: 600
                            }
                        }
                        .settings,
                        .logout {
                            @media screen and (min-width: 768px) {
                                display: none
                            }
                            display: flex;
                            align-items: center;
                            padding: 15px 0;
                            font-size: 14px;
                            line-height: 22px;
                            svg {
                                width: 14px;
                                height: 14px;
                                margin: 0 5px 0;
                            }
                            &:not(.settings) {
                                span {
                                    color: #1c75bb;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }